{% extends 'layout.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
 <h2>Contact Us</h2>
    <p>If you have any questions, please contact us at:</p>
    <ul>
      <li>Email: {{ contact_email }}</li>
      <li>Phone: {{ contact_phone }}</li>
    </ul>

    <h3>Our Services</h3>
    <ul>
      {% for service in services %}
      <li>{{ service }}</li>
      {% endfor %}
    </ul>

    <h3>Business Hours</h3>
    <ul>
      {% for day, hours in business_hours.items %}
      <li>{{ day }}: {{ hours }}</li>
      {% endfor %}
    </ul>
{% endblock %}
